.Form {
    background-color: #272323;
    color: #ffffff;
    padding: 1rem;
    border-radius: 0.5rem;
    border: inset 0.5rem #272323;
    display: flex;
    justify-content: center;
}

.Form > form > div {
    margin-bottom: 5px;
}

h1 {
    text-align: center;
}

.ViewWidth {
    width: 100%;
}