.NavBar {
    justify-content: flex-start!important;
}

.NavBarCollapseIcon {
    background-color: #f5f5df;
    
}

.NavLink {
    width: fit-content;
    margin-left: 0.25rem;
}

.NavLink,
.Brand {
    color: #FFFFFF!important;
    padding: 0 0.5rem;
    transition: 0.5s;
}

.NavLink:hover,
.Brand:hover {
    color: #343a40!important;
    text-decoration: none;
    background-color: #FFFFFF;
    border-radius: 1rem;
}

img {
    height: 45px;
    border-radius: 10px;
    margin-right: 5px;
}
